@mixin animation ($delay, $duration, $animation) {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation;
  -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation;
  -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation;
  animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

@mixin keyframes ($animation-name) {
  @-webkit-keyframes #{$animation-name} {
  @content;
}

@-moz-keyframes #{$animation-name} {
@content;
}

@keyframes #{$animation-name} {
@content;
}
}

@-webkit-keyframes rotation-lr {
  from {
    transform: rotate(-90deg); }
  to {
    transform: rotate(0); } }
@-moz-keyframes rotation-lr {
  from {
    transform: rotate(-90deg); }
  to {
    transform: rotate(0); } }
@keyframes rotation-lr {
  from {
    transform: rotate(-90deg); }
  to {
    transform: rotate(0); } }
@-webkit-keyframes rotation-rl {
  from {
    transform: rotate(90deg); }
  to {
    transform: rotate(0); } }
@-moz-keyframes rotation-rl {
  from {
    transform: rotate(90deg); }
  to {
    transform: rotate(0); } }
@keyframes rotation-rl {
  from {
    transform: rotate(90deg); }
  to {
    transform: rotate(0); } }
@-webkit-keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0); } }
@-moz-keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0); } }
@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes slide-out {
  from {
    opacity: 1;
    transform: translateX(0); }
  to {
    opacity: 0;
    transform: translateX(50px); } }
@-moz-keyframes slide-out {
  from {
    opacity: 1;
    transform: translateX(0); }
  to {
    opacity: 0;
    transform: translateX(50px); } }
@keyframes slide-out {
  from {
    opacity: 1;
    transform: translateX(0); }
  to {
    opacity: 0;
    transform: translateX(50px); } }
@-webkit-keyframes shakeX {
  10%, 90% {
    transform: translateX(-1px); }
  20%, 80% {
    transform: translateX(1px); }
  30%, 50%, 70% {
    transform: translateX(-2px); }
  40%, 60% {
    transform: translateX(2px); } }
@-moz-keyframes shakeX {
  10%, 90% {
    transform: translateX(-1px); }
  20%, 80% {
    transform: translateX(1px); }
  30%, 50%, 70% {
    transform: translateX(-2px); }
  40%, 60% {
    transform: translateX(2px); } }
@keyframes shakeX {
  10%, 90% {
    transform: translateX(-1px); }
  20%, 80% {
    transform: translateX(1px); }
  30%, 50%, 70% {
    transform: translateX(-2px); }
  40%, 60% {
    transform: translateX(2px); } }

/*# sourceMappingURL=animation.css.map */
